<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to EmployeeController.create or EmployeeController.update,
     depending on whether we are creating or editing an entity -->
<form th:method="POST" th:action="@{${employee != null} ? '/employees/' + ${employee.id} : '/employee'}">
    <div>
        <label for="f1">Name</label>
        <input type="text"
               id="f1"
               name="name"
               th:value="(${employee} != null ? ${employee.getName()} : '')"
               required>
    </div>
    <div>
        <label for="f2">Email</label>
        <input type="email"
               id="f2"
               name="email"
               th:value="(${employee} != null ? ${employee.getEmail()} : '')"
               required>
    </div>
<!--    <div>-->
<!--        <label for="f3">Password</label>-->
<!--        &lt;!&ndash; Do not set the value here &ndash;&gt;-->
<!--        <input type="password"-->
<!--               id="f3"-->
<!--               required>-->
<!--    </div>-->
    <div>
        <label for="f6">Employment Date</label>
        <input type="date"
               id="f6"
               name="employmentDate"
               th:value="(${employee} != null ? ${employee.getEmploymentDate()} : '')"
               required>
    </div>
    <div>
        <label>Type</label><br/>
        <select id="f4" name="type">
            <!-- For each type you should have one <option> like below  -->
            <option th:if="${employee != null}"
                    th:each="type : ${employeeTypes}"
                    th:selected="${employee.getType() != null && employee.getType().name() == type.name()}"
                    th:value="${type.name()}"
                    th:text="${type.name()}">
            </option>

            <option th:if="${employee == null}"
                    th:each="type : ${employeeTypes}"
                    th:value="${type.name()}"
                    th:text="${type.name()}">
            </option>
        </select>
    </div>
    <div>
        <label>Skills</label><br/>
        <select id="f5"  multiple name="skillId">
            <!-- For each skill you should have one <option> like below  -->
            <option th:if="${employee != null}"
                    th:each="skill : ${skills}"
                    th:selected="${employee.getSkills() != null && employee.getSkills().contains(skill)}"
                    th:value="${skill.getId()}"
                    th:text="${skill.getName()}">
            </option>

            <option th:if="${employee == null}"
                    th:each="skill : ${skills}"
                    th:value="${skill.getId()}"
                    th:text="${skill.getName()}">
            </option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/employees" type="button" class="btn btn-primary">Back to employees</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
